[[source]]
# url = "https://pypi.python.org/simple"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-redis = "*"
flask-wtf = "*"
"oss2" = "*"
gunicorn = "*"
# flask-paginate = "*"

[dev-packages]
"flake8" = "*"
isort = "*"

[requires]
python_version = "3.6"
